body {
	
	margin: 0;
	background:url(backround2.jpg);
}

#menu{
	width: 100%;
	position: fixed;
	top:0;
	margin: 0 auto;
	background:rgb(17, 38, 53)	;
}

.logo{
	float: left;
}

nav{
	float: right;
}

nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li{
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 25px;
}

nav a{
	color: rgb(204, 209, 216);
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-decoration: none;
	font-size: 18px;
}

nav a:hover{
	color: #3e97ad;
}

section{
	padding-top: 150px;
}

h3{
	font-size: 28px;
	font-weight: bold;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-align: center;
	border-bottom: 1px dashed #153138; 
	width: 50%; 
	margin: auto; 
	margin-top: 5%; 
	margin-bottom: 3%;
	color:#232480 ;
}

h4{
	font-size: 24px;
	font-weight: bold;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-align: center;
	border-bottom: 1px dashed #db9b5f; 
	color:#da6b03 ;
	width: 40%; 
	margin: auto; 
	margin-top: 5%; 
	margin-bottom: 1%;
}

h5{
	font-size: 20px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-align: center;
	color:#da822f ;
	width: 40%; 
	margin: auto; 

}

.youtube {
	display: block;
	margin: 0 auto;
 }

 section a{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 10%;
 }

 .row {
	display: flex;
	margin-left: 100px;
	margin-right: 100px;
  }

  .column {
	flex: 25%;
	padding: 5px;
  }

  .pic{
	border: 1px solid #454350;
}


  .two_column{
	padding: 30px;
	flex: 25%;
  }

  #about_me{
		margin: 30px;
		font-size: 20px;
	font-weight: bold;
		font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
		direction: rtl;
  }



  section{
	padding-top: 30px;
	padding-bottom: 30px;
	margin: 59px;
	border: 3px solid #454350;
	background-color:rgba(228, 228, 228, 0.8);
  }


  .question{
		direction: rtl;
		width: 800px;
		margin: auto;
		border: 3px solid#92aab1;
		background-color:  rgba(228, 228, 228, 0.7);
		font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  #form_email{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .QR{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
	border: 3px solid  rgb(233, 174, 108);
  }

  .fb-like{
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  }

  .facebook{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }